<footer class="main-footer d-flex p-2 px-3 bg-white border-top">
  <span class="copyright ml-auto my-auto mr-2">Разработка компанией
    <a href="#" rel="nofollow">Best Company</a>
  </span>
</footer>
